/bin
/vfs/app_install
/vfs/app_storage
/vfs/app_data
/vfs/app_card/PALM/Programs/*
/registry
/pumpkin
/src/.vscode/*
*.a
*.o
*.res
*.so
*.wasm
*.bin
*.exe
*.dll
*.dylib
*.dlib
*.prc
*.pdb
*.log
*.pyc
*.mod
*.fo
xdg-*.c
xdg-*.h
syscalls_stubs.txt
syscalls_stubs.c
res
res.flag
tools.flag
.zig-cache
hex2bin
mot2bin
galasm
ld80
mkbin
y.tab.h
src/libemulation/tools/zmac/doc
src/libemulation/tools/zmac/doc.inl
src/libemulation/tools/zmac/zmac
src/libemulation/tools/zmac/zmac.c
/src/emscripten/pumpkin.data
/src/emscripten/pumpkin.html
/src/emscripten/pumpkin.js
/src/emscripten/pumpkin.zip
!/tools/*
!/lib/*
!/lib32/*
!/vfs/app_card/PALM/Programs/Command/
!/src/plucker/fonts/*
!/src/data
!/src/data/app_install/*.prc

src/managed_components/lvgl__lvgl/.component_hash
src/managed_components/espressif__button/.component_hash
src/managed_components/espressif__led_strip/.component_hash
src/vi/managed_components/lvgl__lvgl/.component_hash
src/managed_components/espressif__esp_lcd_touch/.component_hash
src/managed_components/espressif__led_indicator/.component_hash
src/managed_components/espressif__esp_lcd_gc9a01/.component_hash
src/managed_components/espressif__cmake_utilities/.component_hash
src/managed_components/espressif__esp_lcd_ili9341/.component_hash
src/managed_components/espressif__esp_lcd_qemu_rgb/.component_hash
src/Command/managed_components/lvgl__lvgl/.component_hash
src/MemoPad/managed_components/lvgl__lvgl/.component_hash
src/DateBook/managed_components/lvgl__lvgl/.component_hash
src/Launcher/managed_components/lvgl__lvgl/.component_hash
src/ToDoList/managed_components/lvgl__lvgl/.component_hash
src/managed_components/espressif__esp_lcd_touch_gt911/.component_hash
src/LuaSyntax/managed_components/lvgl__lvgl/.component_hash
src/vi/managed_components/espressif__button/.component_hash
src/managed_components/espressif__esp_lcd_touch_ft5x06/.component_hash
src/managed_components/espressif__esp_lcd_touch_gt1151/.component_hash
src/managed_components/espressif__esp_lcd_touch_cst816s/.component_hash
src/managed_components/espressif__esp_lcd_touch_tt21100/.component_hash
src/AddressBook/managed_components/lvgl__lvgl/.component_hash
src/Preferences/managed_components/lvgl__lvgl/.component_hash
src/vi/managed_components/espressif__led_strip/.component_hash
src/Command/managed_components/espressif__button/.component_hash
src/MemoPad/managed_components/espressif__button/.component_hash
src/DateBook/managed_components/espressif__button/.component_hash
src/Launcher/managed_components/espressif__button/.component_hash
src/ToDoList/managed_components/espressif__button/.component_hash
src/LuaSyntax/managed_components/espressif__button/.component_hash
src/vi/managed_components/espressif__esp_lcd_touch/.component_hash
src/vi/managed_components/espressif__led_indicator/.component_hash
src/Command/managed_components/espressif__led_strip/.component_hash
src/MemoPad/managed_components/espressif__led_strip/.component_hash
src/vi/managed_components/espressif__esp_lcd_gc9a01/.component_hash
src/AddressBook/managed_components/espressif__button/.component_hash
src/DateBook/managed_components/espressif__led_strip/.component_hash
src/Launcher/managed_components/espressif__led_strip/.component_hash
src/Preferences/managed_components/espressif__button/.component_hash
src/ToDoList/managed_components/espressif__led_strip/.component_hash
src/vi/managed_components/espressif__cmake_utilities/.component_hash
src/vi/managed_components/espressif__esp_lcd_ili9341/.component_hash
src/LuaSyntax/managed_components/espressif__led_strip/.component_hash
src/vi/managed_components/espressif__esp_lcd_qemu_rgb/.component_hash
src/AddressBook/managed_components/espressif__led_strip/.component_hash
src/Command/managed_components/espressif__esp_lcd_touch/.component_hash
src/Command/managed_components/espressif__led_indicator/.component_hash
src/MemoPad/managed_components/espressif__esp_lcd_touch/.component_hash
src/MemoPad/managed_components/espressif__led_indicator/.component_hash
src/Preferences/managed_components/espressif__led_strip/.component_hash
src/Command/managed_components/espressif__esp_lcd_gc9a01/.component_hash
src/DateBook/managed_components/espressif__esp_lcd_touch/.component_hash
src/DateBook/managed_components/espressif__led_indicator/.component_hash
src/Launcher/managed_components/espressif__esp_lcd_touch/.component_hash
src/Launcher/managed_components/espressif__led_indicator/.component_hash
src/MemoPad/managed_components/espressif__esp_lcd_gc9a01/.component_hash
src/ToDoList/managed_components/espressif__esp_lcd_touch/.component_hash
src/ToDoList/managed_components/espressif__led_indicator/.component_hash
src/vi/managed_components/espressif__esp_lcd_touch_gt911/.component_hash
src/Command/managed_components/espressif__cmake_utilities/.component_hash
src/Command/managed_components/espressif__esp_lcd_ili9341/.component_hash
src/DateBook/managed_components/espressif__esp_lcd_gc9a01/.component_hash
src/Launcher/managed_components/espressif__esp_lcd_gc9a01/.component_hash
src/LuaSyntax/managed_components/espressif__esp_lcd_touch/.component_hash
src/LuaSyntax/managed_components/espressif__led_indicator/.component_hash
src/MemoPad/managed_components/espressif__cmake_utilities/.component_hash
src/MemoPad/managed_components/espressif__esp_lcd_ili9341/.component_hash
src/ToDoList/managed_components/espressif__esp_lcd_gc9a01/.component_hash
src/vi/managed_components/espressif__esp_lcd_touch_ft5x06/.component_hash
src/vi/managed_components/espressif__esp_lcd_touch_gt1151/.component_hash
src/Command/managed_components/espressif__esp_lcd_qemu_rgb/.component_hash
src/DateBook/managed_components/espressif__cmake_utilities/.component_hash
src/DateBook/managed_components/espressif__esp_lcd_ili9341/.component_hash
src/Launcher/managed_components/espressif__cmake_utilities/.component_hash
src/Launcher/managed_components/espressif__esp_lcd_ili9341/.component_hash
src/LuaSyntax/managed_components/espressif__esp_lcd_gc9a01/.component_hash
src/MemoPad/managed_components/espressif__esp_lcd_qemu_rgb/.component_hash
src/ToDoList/managed_components/espressif__cmake_utilities/.component_hash
src/ToDoList/managed_components/espressif__esp_lcd_ili9341/.component_hash
src/vi/managed_components/espressif__esp_lcd_touch_cst816s/.component_hash
src/vi/managed_components/espressif__esp_lcd_touch_tt21100/.component_hash
src/AddressBook/managed_components/espressif__esp_lcd_touch/.component_hash
src/AddressBook/managed_components/espressif__led_indicator/.component_hash
src/DateBook/managed_components/espressif__esp_lcd_qemu_rgb/.component_hash
src/Launcher/managed_components/espressif__esp_lcd_qemu_rgb/.component_hash
src/LuaSyntax/managed_components/espressif__cmake_utilities/.component_hash
src/LuaSyntax/managed_components/espressif__esp_lcd_ili9341/.component_hash
src/Preferences/managed_components/espressif__esp_lcd_touch/.component_hash
src/Preferences/managed_components/espressif__led_indicator/.component_hash
src/ToDoList/managed_components/espressif__esp_lcd_qemu_rgb/.component_hash
src/AddressBook/managed_components/espressif__esp_lcd_gc9a01/.component_hash
src/LuaSyntax/managed_components/espressif__esp_lcd_qemu_rgb/.component_hash
src/Preferences/managed_components/espressif__esp_lcd_gc9a01/.component_hash
src/AddressBook/managed_components/espressif__cmake_utilities/.component_hash
src/AddressBook/managed_components/espressif__esp_lcd_ili9341/.component_hash
src/Command/managed_components/espressif__esp_lcd_touch_gt911/.component_hash
src/MemoPad/managed_components/espressif__esp_lcd_touch_gt911/.component_hash
src/Preferences/managed_components/espressif__cmake_utilities/.component_hash
src/Preferences/managed_components/espressif__esp_lcd_ili9341/.component_hash
src/AddressBook/managed_components/espressif__esp_lcd_qemu_rgb/.component_hash
src/Command/managed_components/espressif__esp_lcd_touch_ft5x06/.component_hash
src/Command/managed_components/espressif__esp_lcd_touch_gt1151/.component_hash
src/DateBook/managed_components/espressif__esp_lcd_touch_gt911/.component_hash
src/Launcher/managed_components/espressif__esp_lcd_touch_gt911/.component_hash
src/MemoPad/managed_components/espressif__esp_lcd_touch_ft5x06/.component_hash
src/MemoPad/managed_components/espressif__esp_lcd_touch_gt1151/.component_hash
src/Preferences/managed_components/espressif__esp_lcd_qemu_rgb/.component_hash
src/ToDoList/managed_components/espressif__esp_lcd_touch_gt911/.component_hash
src/Command/managed_components/espressif__esp_lcd_touch_cst816s/.component_hash
src/Command/managed_components/espressif__esp_lcd_touch_tt21100/.component_hash
src/DateBook/managed_components/espressif__esp_lcd_touch_ft5x06/.component_hash
src/DateBook/managed_components/espressif__esp_lcd_touch_gt1151/.component_hash
src/Launcher/managed_components/espressif__esp_lcd_touch_ft5x06/.component_hash
src/Launcher/managed_components/espressif__esp_lcd_touch_gt1151/.component_hash
src/LuaSyntax/managed_components/espressif__esp_lcd_touch_gt911/.component_hash
src/MemoPad/managed_components/espressif__esp_lcd_touch_cst816s/.component_hash
src/MemoPad/managed_components/espressif__esp_lcd_touch_tt21100/.component_hash
src/ToDoList/managed_components/espressif__esp_lcd_touch_ft5x06/.component_hash
src/ToDoList/managed_components/espressif__esp_lcd_touch_gt1151/.component_hash
src/DateBook/managed_components/espressif__esp_lcd_touch_cst816s/.component_hash
src/DateBook/managed_components/espressif__esp_lcd_touch_tt21100/.component_hash
src/Launcher/managed_components/espressif__esp_lcd_touch_cst816s/.component_hash
src/Launcher/managed_components/espressif__esp_lcd_touch_tt21100/.component_hash
src/LuaSyntax/managed_components/espressif__esp_lcd_touch_ft5x06/.component_hash
src/LuaSyntax/managed_components/espressif__esp_lcd_touch_gt1151/.component_hash
src/ToDoList/managed_components/espressif__esp_lcd_touch_cst816s/.component_hash
src/ToDoList/managed_components/espressif__esp_lcd_touch_tt21100/.component_hash
src/AddressBook/managed_components/espressif__esp_lcd_touch_gt911/.component_hash
src/LuaSyntax/managed_components/espressif__esp_lcd_touch_cst816s/.component_hash
src/LuaSyntax/managed_components/espressif__esp_lcd_touch_tt21100/.component_hash
src/Preferences/managed_components/espressif__esp_lcd_touch_gt911/.component_hash
src/AddressBook/managed_components/espressif__esp_lcd_touch_ft5x06/.component_hash
src/AddressBook/managed_components/espressif__esp_lcd_touch_gt1151/.component_hash
src/Preferences/managed_components/espressif__esp_lcd_touch_ft5x06/.component_hash
src/Preferences/managed_components/espressif__esp_lcd_touch_gt1151/.component_hash
src/AddressBook/managed_components/espressif__esp_lcd_touch_cst816s/.component_hash
src/AddressBook/managed_components/espressif__esp_lcd_touch_tt21100/.component_hash
src/Preferences/managed_components/espressif__esp_lcd_touch_cst816s/.component_hash
src/Preferences/managed_components/espressif__esp_lcd_touch_tt21100/.component_hash
src/vi/managed_components/lvgl__lvgl/.pre-commit-config.yaml
src/Command/managed_components/lvgl__lvgl/.pre-commit-config.yaml
src/MemoPad/managed_components/lvgl__lvgl/.pre-commit-config.yaml
src/DateBook/managed_components/lvgl__lvgl/.pre-commit-config.yaml
src/Launcher/managed_components/lvgl__lvgl/.pre-commit-config.yaml
src/ToDoList/managed_components/lvgl__lvgl/.pre-commit-config.yaml
src/LuaSyntax/managed_components/lvgl__lvgl/.pre-commit-config.yaml
src/AddressBook/managed_components/lvgl__lvgl/.pre-commit-config.yaml
src/Preferences/managed_components/lvgl__lvgl/.pre-commit-config.yaml
src/vi/managed_components/lvgl__lvgl/.devcontainer/lv_conf.defaults
src/Command/managed_components/lvgl__lvgl/.devcontainer/lv_conf.defaults
src/MemoPad/managed_components/lvgl__lvgl/.devcontainer/lv_conf.defaults
src/DateBook/managed_components/lvgl__lvgl/.devcontainer/lv_conf.defaults
src/Launcher/managed_components/lvgl__lvgl/.devcontainer/lv_conf.defaults
src/ToDoList/managed_components/lvgl__lvgl/.devcontainer/lv_conf.defaults
src/LuaSyntax/managed_components/lvgl__lvgl/.devcontainer/lv_conf.defaults
src/AddressBook/managed_components/lvgl__lvgl/.devcontainer/lv_conf.defaults
src/Preferences/managed_components/lvgl__lvgl/.devcontainer/lv_conf.defaults
src/vi/managed_components/lvgl__lvgl/.devcontainer/__main.c__
src/Command/managed_components/lvgl__lvgl/.devcontainer/__main.c__
src/MemoPad/managed_components/lvgl__lvgl/.devcontainer/__main.c__
src/DateBook/managed_components/lvgl__lvgl/.devcontainer/__main.c__
src/Launcher/managed_components/lvgl__lvgl/.devcontainer/__main.c__
src/ToDoList/managed_components/lvgl__lvgl/.devcontainer/__main.c__
src/LuaSyntax/managed_components/lvgl__lvgl/.devcontainer/__main.c__
src/AddressBook/managed_components/lvgl__lvgl/.devcontainer/__main.c__
src/Preferences/managed_components/lvgl__lvgl/.devcontainer/__main.c__
src/vi/managed_components/lvgl__lvgl/configs/defconfigs/default.defconfig
src/vi/managed_components/lvgl__lvgl/.devcontainer/devcontainer.json
src/Command/managed_components/lvgl__lvgl/configs/defconfigs/default.defconfig
src/MemoPad/managed_components/lvgl__lvgl/configs/defconfigs/default.defconfig
src/DateBook/managed_components/lvgl__lvgl/configs/defconfigs/default.defconfig
src/Launcher/managed_components/lvgl__lvgl/configs/defconfigs/default.defconfig
src/ToDoList/managed_components/lvgl__lvgl/configs/defconfigs/default.defconfig
src/Command/managed_components/lvgl__lvgl/.devcontainer/devcontainer.json
src/MemoPad/managed_components/lvgl__lvgl/.devcontainer/devcontainer.json
src/LuaSyntax/managed_components/lvgl__lvgl/configs/defconfigs/default.defconfig
src/DateBook/managed_components/lvgl__lvgl/.devcontainer/devcontainer.json
src/Launcher/managed_components/lvgl__lvgl/.devcontainer/devcontainer.json
src/ToDoList/managed_components/lvgl__lvgl/.devcontainer/devcontainer.json
src/LuaSyntax/managed_components/lvgl__lvgl/.devcontainer/devcontainer.json
src/AddressBook/managed_components/lvgl__lvgl/configs/defconfigs/default.defconfig
src/Preferences/managed_components/lvgl__lvgl/configs/defconfigs/default.defconfig
src/AddressBook/managed_components/lvgl__lvgl/.devcontainer/devcontainer.json
src/Preferences/managed_components/lvgl__lvgl/.devcontainer/devcontainer.json
src/vi/managed_components/lvgl__lvgl/.devcontainer/setup.sh
src/Command/managed_components/lvgl__lvgl/.devcontainer/setup.sh
src/MemoPad/managed_components/lvgl__lvgl/.devcontainer/setup.sh
src/DateBook/managed_components/lvgl__lvgl/.devcontainer/setup.sh
src/Launcher/managed_components/lvgl__lvgl/.devcontainer/setup.sh
src/ToDoList/managed_components/lvgl__lvgl/.devcontainer/setup.sh
src/LuaSyntax/managed_components/lvgl__lvgl/.devcontainer/setup.sh
src/AddressBook/managed_components/lvgl__lvgl/.devcontainer/setup.sh
src/Preferences/managed_components/lvgl__lvgl/.devcontainer/setup.sh
src/vi/managed_components/lvgl__lvgl/.devcontainer/__CMakeLists.txt__
src/vi/managed_components/lvgl__lvgl/.devcontainer/__c_cpp_properties.json__
src/Command/managed_components/lvgl__lvgl/.devcontainer/__CMakeLists.txt__
src/MemoPad/managed_components/lvgl__lvgl/.devcontainer/__CMakeLists.txt__
src/DateBook/managed_components/lvgl__lvgl/.devcontainer/__CMakeLists.txt__
src/Launcher/managed_components/lvgl__lvgl/.devcontainer/__CMakeLists.txt__
src/ToDoList/managed_components/lvgl__lvgl/.devcontainer/__CMakeLists.txt__
src/LuaSyntax/managed_components/lvgl__lvgl/.devcontainer/__CMakeLists.txt__
src/Command/managed_components/lvgl__lvgl/.devcontainer/__c_cpp_properties.json__
src/MemoPad/managed_components/lvgl__lvgl/.devcontainer/__c_cpp_properties.json__
src/AddressBook/managed_components/lvgl__lvgl/.devcontainer/__CMakeLists.txt__
src/Preferences/managed_components/lvgl__lvgl/.devcontainer/__CMakeLists.txt__
src/DateBook/managed_components/lvgl__lvgl/.devcontainer/__c_cpp_properties.json__
src/Launcher/managed_components/lvgl__lvgl/.devcontainer/__c_cpp_properties.json__
src/ToDoList/managed_components/lvgl__lvgl/.devcontainer/__c_cpp_properties.json__
src/LuaSyntax/managed_components/lvgl__lvgl/.devcontainer/__c_cpp_properties.json__
src/AddressBook/managed_components/lvgl__lvgl/.devcontainer/__c_cpp_properties.json__
src/Preferences/managed_components/lvgl__lvgl/.devcontainer/__c_cpp_properties.json__
src/vi/managed_components/lvgl__lvgl/.devcontainer/__settings.json__
src/Command/managed_components/lvgl__lvgl/.devcontainer/__settings.json__
src/MemoPad/managed_components/lvgl__lvgl/.devcontainer/__settings.json__
src/vi/managed_components/lvgl__lvgl/.devcontainer/lvgl_shell.html
src/DateBook/managed_components/lvgl__lvgl/.devcontainer/__settings.json__
src/Launcher/managed_components/lvgl__lvgl/.devcontainer/__settings.json__
src/ToDoList/managed_components/lvgl__lvgl/.devcontainer/__settings.json__
src/LuaSyntax/managed_components/lvgl__lvgl/.devcontainer/__settings.json__
src/AddressBook/managed_components/lvgl__lvgl/.devcontainer/__settings.json__
src/Preferences/managed_components/lvgl__lvgl/.devcontainer/__settings.json__
src/vi/managed_components/lvgl__lvgl/.devcontainer/__build_all.sh__
src/Command/managed_components/lvgl__lvgl/.devcontainer/lvgl_shell.html
src/MemoPad/managed_components/lvgl__lvgl/.devcontainer/lvgl_shell.html
src/DateBook/managed_components/lvgl__lvgl/.devcontainer/lvgl_shell.html
src/Launcher/managed_components/lvgl__lvgl/.devcontainer/lvgl_shell.html
src/ToDoList/managed_components/lvgl__lvgl/.devcontainer/lvgl_shell.html
src/LuaSyntax/managed_components/lvgl__lvgl/.devcontainer/lvgl_shell.html
src/AddressBook/managed_components/lvgl__lvgl/.devcontainer/lvgl_shell.html
src/Preferences/managed_components/lvgl__lvgl/.devcontainer/lvgl_shell.html
src/Command/managed_components/lvgl__lvgl/.devcontainer/__build_all.sh__
src/MemoPad/managed_components/lvgl__lvgl/.devcontainer/__build_all.sh__
src/DateBook/managed_components/lvgl__lvgl/.devcontainer/__build_all.sh__
src/Launcher/managed_components/lvgl__lvgl/.devcontainer/__build_all.sh__
src/ToDoList/managed_components/lvgl__lvgl/.devcontainer/__build_all.sh__
src/LuaSyntax/managed_components/lvgl__lvgl/.devcontainer/__build_all.sh__
src/AddressBook/managed_components/lvgl__lvgl/.devcontainer/__build_all.sh__
src/Preferences/managed_components/lvgl__lvgl/.devcontainer/__build_all.sh__
