AndroidPumpkinOS/app/src/main/res/raw/addressbook_i64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/launcher_i64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/luasyntax_i32 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/luasyntax_i64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/luasyntax_r64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/memopad_r64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/preferences_a64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/todolist_a64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/addressbook_a64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/datebook_a64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/todolist_r64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/unicornarm_a32 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/unicornarm_a64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/unicornarm_r64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/vi_i64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/addressbook_i32 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/datebook_a32 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/launcher_a32 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/launcher_r64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/todolist_a32 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/unicornarm_i32 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/vi_i32 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/datebook_i32 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/luasyntax_a32 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/memopad_i64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/preferences_i32 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/todolist_i32 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/todolist_i64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/boot filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/memopad_i32 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/vi_a64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/command_i32 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/datebook_i64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/launcher_a64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/luasyntax_a64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/memopad_a32 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/preferences_a32 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/preferences_r64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/unicornarm_i64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/addressbook_a32 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/command_a64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/command_i64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/vi_a32 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/vi_r64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/addressbook_r64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/command_a32 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/command_r64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/datebook_r64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/launcher_i32 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/memopad_a64 filter=lfs diff=lfs merge=lfs -text
AndroidPumpkinOS/app/src/main/res/raw/preferences_i64 filter=lfs diff=lfs merge=lfs -text
