CONFIG_ESP_SYSTEM_MEMPROT_FEATURE_LOCK=n
CONFIG_ELF_DYNAMIC_LOAD_SHARED_OBJECT=y
CONFIG_ESP_TASK_WDT_EN=n
CONFIG_ESP_TASK_WDT_INIT=n
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_XIP_FROM_PSRAM=y
CONFIG_SPIRAM_FETCH_INSTRUCTIONS=y
CONFIG_SPIRAM_RODATA=y
CONFIG_SPIRAM_BOOT_INIT=y
